footer{
	margin: 130px 0 0 0;
	padding: 46px 0 0 0;
	object-fit: contain;
	background-image: linear-gradient(to top, $blue_mid, $blue_second_light);

	[class*='col-'] {
		&:last-child{
			position:relative; 
		}
	    @media (max-width:$tablet-tall){
	    	margin:0 0 $spacing*2 0;
	    	&:last-child{
	    		margin:0;
	    	}
	    }
	}  

	@include headings{
		color:$white;
		text-transform:uppercase;
		font-size: 17.1px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.95;
		letter-spacing: 1.62px;
	}

	.footer_contact{
		display: inline-block;
		color:$white;
		font-size: 20px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.4;
		letter-spacing: 0.88px;
		margin:$spacing*2 $spacing*3 0 0;
		&:last-child{
			margin:$spacing*2 0 0 0;
		}
	}

	.footer_extend{
		@media (min-width:$tablet-wide){
			position:absolute;
			left:1em;
		}
		form.newsletter{
			@media (min-width:$tablet-wide){
				width:400px;
			}
		}
	}

	.lower_bar{
		margin: 36px 0 0;
		padding: $spacing/2;
		background-color: rgba($blue_dark, 0.15);
		display: grid;
		place-items: center;
		text-align: center;
		p{
			text-transform: uppercase;
			font-size: 14.1px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			@media (min-width:$mobile){
				line-height: 3.57;
			}
			line-height: 2;
			letter-spacing: 1.34px;
			text-align: center;
			color:$white;
		}
	}

}
