header{
	display: table;
	width:100%;
	margin:$spacing*7 0;
	
	#logo{
		max-width:217px;
		width:100%;
	}

	.hr{
		&--blue{
			height:1px;
			background-color:$blue_light;
			margin:$spacing*4 0 0 0;
		}
	}

	nav{
		@media (max-width:$tablet-tall){
			display: none;
		}
	}

	.mobile_btn{
		@media (min-width:$tablet-tall){
			display: none;
		}
		display: block;
		float:right;
		position: relative;
		top:$spacing*4;
			z-index: 1000;
		.hamburger{
		    .hamburger-box{;
		        .hamburger-inner{
		            background-color:$blue_light;
		            &:before{
		                background-color:$blue_light;
		            }
		            &:after{
		                background-color:$blue_light;
		            }
		        }
		    }
			&.is-active{
				.hamburger-inner{
					background:transparent;
					&:before{
		                background-color:$white;
		            }
		            &:after{
		                background-color:$white;
		            }
				}
			}
		}	
	}

}