.menu{
    &--header{
        text-align: right;
        margin:$spacing*3 0 0 0;
        li{
            list-style-type: none;
            display: inline-block;
            margin:0 $spacing*2.5;
            a{
                color:$blue_light;
                font-size: 14px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 3.28px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    &--footer{
        margin:0 0 0 $spacing*2;
        li{
            list-style-type: none;
            color:$white;
            font-size: 17px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.65;
            letter-spacing: 0.89px;
        }
    }
}

.mobile_menu{
    // display: none;
    &.active{
        display: grid;
        top:0;
        // -webkit-transition:top 1s;
        -webkit-transition: 1s;
    }

    -webkit-transition: 1s;

    background-color:$blue_light;
    position: absolute;
    left:0;
    right:0;
    top:-100%;
    width:100%;
    height:100%;
    z-index: 99;
    place-items:center;
    ul.menu--header{
        li{
            display: block;
            margin:$spacing*2 0;
            text-align: center;
            a{
                color:$white;
            }
        }
    }
}