// grid variables
$grid-columns: 12;
$grid-max-width: 1286px;
  
.wrapper {
    width: 100%;
    max-width: $grid-max-width;   
    margin: 0 auto;
    @extend %clearfix;      
}

.row, section, aside {
    @extend %clearfix;
    &:after{
        content:"";
        display:table;
        clear: both; 
    }
} 

[class*='col-'] {
    float: left;
    padding: 0 1em;
    width: 100%;
    min-height: 1px; 
}   
 
@for $i from 1 through $grid-columns {   
    @media (min-width:$tablet-tall)  {
        .lg-col-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }    
        .lg-col-offset-#{$i} {         
            margin-left: 100% / $grid-columns * $i;   
        }        
    }
    @media only screen and (min-width: $mobile) and (max-width: $tablet-tall)   {
        .md-col-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }        
        .md-col-offset-#{$i} {         
            margin-left: 100% / $grid-columns * $i;   
        }        
    }    
    @media only screen and (max-width: $mobile)   {
        .sm-col-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }        
        .sm-col-offset-#{$i} {         
            margin-left: 100% / $grid-columns * $i;   
        }        
    }       
}   

//Flex Layout

.flex-2{
    float:left;
     @media (min-width:$mobile) {
        width:49%;
    }

    @media (min-width:$tablet-wide){
        margin:0 2% $spacing*2 0;
        &:nth-of-type(2n){
            margin:0 0 $spacing*2 0;
        }
    }

    @media (min-width:$mobile) and (max-width:$tablet-wide){
        margin:0 2% $spacing 0;
        &:nth-of-type(2n){
            margin:0 0 $spacing 0;
        }
    }
    margin:0 0 $spacing*2 0;
    width:100%;
}

.flex-3{
    float:left;
    @media (min-width:$tablet-tall){
        width:32%;
        margin:0 2% $spacing*4 0;
        &:nth-of-type(3n){
            margin:0 0 $spacing*4 0;
        }
    }

    @media (min-width:$mobile) and (max-width:$tablet-tall){
        width:49%;
        margin:0 2% $spacing*2 0;
        &:nth-of-type(2n){
            margin:0 0 $spacing*2 0;
        }
    }

    width:100%;
    margin:0 0 $spacing*3 0;
}

.flex-4{
    float:left;
    @media (min-width:$tablet-tall){
        width:23.5%;
        margin:0 2% $spacing*4 0;
        &:nth-of-type(4n){
            margin:0 0 $spacing*4 0;
        }
    }

    @media (min-width:$mobile) and (max-width:$tablet-tall){
        width:49%;
        margin:0 2% $spacing*2 0;
        &:nth-of-type(2n){
            margin:0 0 $spacing*2 0;
        }
    }

    width:100%;
    margin:0 0 $spacing*3 0;
}

