/*================================================================================
GLOBAL
================================================================================*/

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	max-width: 100%;
	box-sizing: border-box;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	width: 100%;
	background: $white;
	color: $black;
	font-family:$text;
	font-size:$font-size;
	line-height:$line-height;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
    @media (max-width:$tablet-tall){
        &.page_fixed{
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: fixed;
            header{
              // position: initial;
            }
        }
    }
}
		 
img {
	width: auto;
	max-width: 100%;
	height: auto !important; 
	border:0;
}   

a{
	color:inherit;
	text-decoration: none;  
	outline: none;
	&:hover{
		@include transition(all 0.3s ease-in-out 0s);
	} 
}

br{
	&.hide{
		display: none;
		@media (min-width:$tablet-tall){
				display: block;
		}
	}
}

hr{
	border-style: none;
}

ul{
	li{

	}
}

ol{
	list-style-position: outside;
	li{
	}
}

fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	outline:none;
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	&:hover{
		@include transition(all 0.3s ease-in-out 0s);
	}
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	padding:5px;
	@include border-radius(0);
	margin:0 0 10px 0;
	outline:none;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	padding:5px;
	@include border-radius(0);
	margin:0 0 10px 0;
	outline:none;
	overflow: auto;
	outline:none;  
}