♦/*========================================
HEADINGS
========================================*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $heading;
    font-weight: bold;
    line-height: $line-height;
    margin:0 0 $spacing*1.5 0;
}

h1{
    @include fluid-font(55px, 66px); 
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.47px;
    text-align: center;
    margin:0 0 $spacing*3 0;
}

h2{
    @include fluid-font(43px, 53px);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.78px; 
}

h3{
    @include fluid-font(30px, 40px);
}

h4{
    @include fluid-font(20px, 30px);
}

h5{
    @include fluid-font(10px, 20px);
}

p{
    @include fluid-font(15px, 16px);
	line-height: $line-height;
	margin:0 0 $spacing 0;	
    font-weight:normal;
    &:last-child{
        margin:0;
    }
}