/*================================================================================
Variables
================================================================================*/

@charset "UTF-8";

/*========================================
Colours
========================================*/

$blue:#006aa0;
$blue_light:#6db1d4;
$black:#000000;
$white:#ffffff;
$grey:#686868;
$grey_mid:#919191;
$grey_light:#d8d8d8;
$grey_border:#979797;
$blue_second_light:#70b4d7;
$blue_mid:#194777;
$trans:rgba(255, 255, 255, 0.19);
$blue_dark:#173754;


/*========================================
Typography
========================================*/

$heading: 'proxima-nova', sans-serif;
$text: 'proxima-nova', sans-serif;
$font-size: 16px;
$line-height: 1.7;

/*========================================
Weights
========================================*/

$extra-light:200;
$light:300;
$normal:400;
$semi-bold:600;
$bold:700;
$extra-bold:800;
$black-bold:900;

/*========================================
Layout
========================================*/

$spacing: 10px;

/*========================================
Queries
========================================*/

$small-mobile:400px;
$mobile: 600px;
$tablet-tall: 900px;
$tablet-wide: 1200px;
$laptop:1300px;
$desktop: 1800px;