*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* SASS mixin start */

/// $min - Minimum font size (px, rem)
/// $max - Maximum font size (px, rem)
/// $min-vw - Minimum viewport value lock range (px) --(optional)
/// $max-vw - Maximum viewport value lock range (px) --(optional)
/// $fallback - fallback font size (px, rem) --(optional)

@mixin fluid-font($min, $max, $min-vw: 768px, $max-vw: 1600px, $fallback: false) {
  $min-no-unit : strip-units($min);
  $max-no-unit : strip-units($max);
  
  $min-vw-no-unit : strip-units($min-vw);
  $max-vw-no-unit : strip-units($max-vw);
  
  @if getUnit($min) == "rem" or getUnit($min) == "em" {
    $min-no-unit : strip-units($min) * 16;
    $max-no-unit : strip-units($max) * 16;
  }
  
   $responsive : calc(#{$min-no-unit}px + (#{$max-no-unit} - #{$min-no-unit}) * ((100vw - #{$min-vw}) / (#{$max-vw-no-unit} - #{$min-vw-no-unit})));
  
  @if $fallback { font-size: $fallback; }
  @else { font-size: $max; }

  font-size:  $responsive;

   @media screen and (max-width: #{$min-vw}) { font-size: $min; }
   @media screen and (min-width: #{$max-vw}) { font-size: $max; }
}

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

@function getUnit($value) {
    @return str-slice($value * 0 + "", 2, -1);
}

/* SASS mixin end */





// @include med-min($tablet-tall) { display:none; }
@mixin med-min($device){
    @media (min-width:$device){
        @content;
    }
}

// @include med-max($tablet-tall) { display:none; }
@mixin med-max($device){
    @media (max-width:$device){
        @content;
    }
}

// @include med-min-max($mobile, $tablet-tall) { display:none; }
@mixin med-min-max($mn-device, $mx-device){
    @media (min-width:$mn-device) and (max-width:$mx-device){
        @content;
    }
}

// @include headings { color:$white; }
@mixin headings {
    @for $i from 1 through 6 {
        h#{$i} {
            @content;
        }
    }
}

// @include columns(2, 1em);
@mixin columns($numnber, $gap) {
    -webkit-column-count: $numnber;
    -moz-column-count: $numnber;
    column-count: $numnber;

    -webkit-column-gap: $gap;
    -moz-column-gap: $gap;
    column-gap: $gap;
}

// @include background(cover, center, no-repeat);
@mixin background($size, $position, $repeat) {
    background-size:$size;
    background-position:$position;
    background-repeat:$repeat;
}

//@include gradient($green, $green_light);
@mixin gradient($first, $second) {
    background: $first; /* Old browsers */
    background: -moz-linear-gradient(top, $first 0%, $second 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $first 0%,$second 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $first 0%,$second 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first', endColorstr='$second',GradientType=0 ); /* IE6-9 */
}

//Basic Button - e.g. @include basic-button(#000000, #ff0000);
@mixin basic-button($color, $color-text-hover: $color-light) {
    color: $color;
    border-color: $color;
    background-color: transparent;    
    &:hover {
        color: $color-text-hover;
        background-color: $color;
    }
}

/// Slightly lighten a color - e.g. color: tint(#BADA55, 42%);
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color - e.g. color: shade(#663399, 42%);
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//Transform e.g. @include transform( rotate(-40deg) );
@mixin transform($transform){
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

//Transform Origin @include transform-origin( 50% 100% );
@mixin transform-origin($transform-origin){
    -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

//Transform Origin @include animation( wink 0.5s alternate infinite );
@mixin animation($animation){
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

//Transform Origin @include animation-timing( ease );
@mixin animation-timing($animation-timing){
    -webkit-animation-timing-function: $animation-timing; /* Chrome, Safari, Opera */
    animation-timing-function: $animation-timing;
}


//Basic Transition Mixin - e.g. @include transition(color .3s ease);
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

//Basic Transition Mixin - e.g. @include transition-delay( .2s );
@mixin transition-delay($transition-delay) {
    -moz-transition-delay:    $transition-delay;
    -o-transition-delay:      $transition-delay;
    -webkit-transition-delay: $transition-delay;
    transition-delay:         $transition-delay;
}

// -webkit-text-size-adjust: 100%;
//Webkit Text Size Adjustment - e.g. @include text-size-adjust(100%);
@mixin text-size-adjust($value) {
    -webkit-text-size-adjust: $value; 
    -moz-text-size-adjust: $value;
    -ms-text-size-adjust: $value; 
}

//Box Shadow - e.g. @include box-shadow(10px, 10px, 5px, 0px, rgba(0,0,0,0.75));
@mixin box-shadow($top, $down, $blur, $radius, $color) {
    -webkit-box-shadow:$top $down $blur $radius $color;
    -moz-box-shadow:$top $down $blur $radius $color;
    box-shadow:$top $down $blur $radius $color;
}

//Border Box
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}     

//Border Radius - e.g. @include border-radius(10px);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

//User select - e.g. @include user-select(none);
@mixin user-select($outcome){
    -webkit-user-select: $outcome; /* Chrome/Safari */        
    -moz-user-select: $outcome; /* Firefox */
    -ms-user-select: $outcome; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: $outcome;
    user-select: $outcome;
}

//User select - e.g. @include x-appearance(none);
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

//Clearfix
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

    //Clearfix - examples
    .container-with-floated-children {
        @extend %clearfix;
    }

//Email placeholder styles - e.g. @include placeholder { font-style:italic;color: white;font-weight:100;}
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// //Set a rem font size with pixel fallback
// @function calculateRem($size) {
//   $remSize: $size / 16px;
//   @return $remSize * 1rem;
// }

// @mixin font-size($size) {
//   font-size: $size;
//   font-size: calculateRem($size);
// }

//Set a rem font size with pixel fallback - examples
// p {
//     @include font-size(14px)
// }

// @mixin font-size($font-size) {
//     font-size: $font-size;
//     font-size: ($font-size / $base-font-size)*1rem;
// }


// //Responsive font sizes
// @mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
//     $responsive-unitless: $responsive / ($responsive - $responsive + 1);
//     $dimension: if(unit($responsive) == 'vh', 'height', 'width');
//     $min-breakpoint: $min / $responsive-unitless * 100;

//     @media (max-#{$dimension}: #{$min-breakpoint}) {
//         font-size: $min;
//     }
  
//     @if $max {
//         $max-breakpoint: $max / $responsive-unitless * 100;
    
//         @media (min-#{$dimension}: #{$max-breakpoint}) {
//             font-size: $max;
//         }
//     }
  
//     @if $fallback {
//         font-size: $fallback;
//     }
  
//     font-size: $responsive;
// }
