.accordion_outer{
	background-image: linear-gradient(to top, #70b4d7, #194777);
	@media (min-width:$tablet-tall){
		padding:$spacing*8;
	}
	padding:$spacing*8 0;
	display: grid;
	place-items:center;
	text-align: center;
	@include headings{
		margin:0 0 $spacing*7 0;
		color:$white;
	}
	.accordion{
		&__single{
			border-bottom:1.5px solid $white;
			&:first-child{
				border-top:1.5px solid $white;
			}
			padding:$spacing*2;
			text-align: left;
			.single_question{
				cursor: pointer;
				color:$white;
				font-size: 22px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.59;
				letter-spacing: 0.97px;
				position:relative;
				.question_arrow{
					right:0;
					top:0;
					position: absolute;
					img{
						width:20px;
						height:20px;
					}
					&--plus{

					}
					&--minus{
						display: none;
					}
				}
			}
			.single_answer{
				display: none;
				padding:$spacing*2 0 $spacing*4 0;
				color:$white;
				font-size: 17px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 2;
				letter-spacing: 0.89px;
			}
		}
	}
}