.btn{
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 3.98px;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	@include border-radius($spacing*10);
	padding:$spacing*2 $spacing*4;
	border:0;
	&--white{
		background-color:$white;
		color:$blue_light;
	}
	&--blue{
		background-color:$blue_light;
		color:$white;
	}
}