.contact_us{
	margin: 0 0 $spacing*13 0;
	height: 460px;
	padding:$spacing*7 0 $spacing*8 0;
	text-align: center;
	object-fit: contain;
	background-image: linear-gradient(to top, #70b4d7, #194777);
	display: table;
	width:100%;
	@include headings{
		color:$white;
		font-size: 53px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 2.78px;
		text-align: center;
		margin:0 0 $spacing*5 0;
	}
	.contact_wrapper{
		@media (min-width:$mobile){
			max-width:75%;
		}	
		margin:auto;
		.contact{
			@media (min-width:$tablet-tall){
				width:50%;
				float:left;
			}
			&__details{
				margin:0 0 $spacing*5 0;
				text-align: left;
				.details_img{
					margin:0 $spacing*3 0 0;
					float:left;
					width:67px;
					height:67px;
					@include border-radius(50%);
					background-color:$trans;
					display: grid;
					place-items: center;
				}
				.details_txt{	
					overflow: hidden;
					p{
						color:$white;
						@include fluid-font(21px, 25px);
						font-weight: 600;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.4;
						letter-spacing: 1.1px;
						&.small{
							font-size:21px;
							font-weight:normal;
						}
					}

				}
				&--single{
				}
			}
		}
	}
}