.enquiry{
	@include headings{
		margin:0 0 $spacing*3 0;
		color:$blue_light;
		font-size: 53px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 2.78px;
		text-align: center;
	}
	p{
		color:$grey;
		font-size: 21px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: 1.1px;
		text-align: center;
	}
	form{
		text-align: center;
		@media (min-width:$tablet-tall){
			max-width:75%;
		}
		margin:$spacing*4 auto 0 auto;
		label{
			&.half{
				@media (min-width:$mobile){
					width:47.5%;
					margin:0 5% $spacing*3 0;
					&:nth-of-type(2n){
						margin:0 0 $spacing*3 0;
					}
				}
				float:left;
				margin:0 0 $spacing*3 0;
			}
			&.full{
				width:100%;
			}

			input[type=text], input[type=email], textarea{
				width:100%;
				margin:0;
			}
		}

		.wpcf7-checkbox{
			.wpcf7-list-item{
				margin:0;
				input[type=checkbox]{
					margin:0 $spacing 0 0;
					float:left;
					@include border-radius(50%);
					border:1.3px solid $grey_border;
				}
			}
			label{
				float:left;
				@media (min-width:$mobile){
					padding:0 7%;
				}
				margin:$spacing*4 auto;
				font-size: 15px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.8;
				letter-spacing: 0.79px;
				color:$grey_mid;
				text-align: left;
				.wpcf7-list-item-label{
					overflow: hidden;
					display: block;
					position: relative;
					top:-$spacing/2;
				}
			}
		}

	}
}