form{
	input, textarea{
		border:2px solid rgba($grey_mid, 0.18);
		padding:$spacing;
		font-size: 19px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.84;
		letter-spacing: 1px;
		color:$grey_mid;
	}
	&.newsletter{
		label{
			position: relative;
			&:before{
				 content: "";
				position: absolute;
				right:$spacing;
				top: 0;
				bottom: 0;
				width: 11px;
				height:18px;
				background: url("../../images/arrow-right.svg") center / contain no-repeat;
			}
		}
		input[type=email]{
			padding:$spacing;
			border:2px solid rgba($white, 0.46);
			background-color: transparent;
			font-size: 19px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.84;
			letter-spacing: 1px;
			color:$white;
			width:100%;
			@include placeholder { 
				font-size: 19px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.84;
				letter-spacing: 1px;
				color:$white;
			}
		}
	}
}