.hero{
	@include background(cover, center, no-repeat);
	padding:$spacing*14 0;
	display: grid;
    place-items: center;
    text-align: center;
    position:relative;
    &__content{
    	position:relative;
    	z-index: 1;
	    @include headings{
	    	color:$white;
	    }
	    p{
	    	text-align: center;
	    	@media (min-width:$mobile){
	    		max-width:60%;
    		}
	    	margin:0 auto $spacing*5 auto;
			font-size: 27px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.59;
			letter-spacing: 1.42px;
			color:$white;
	    }
    	
    }
}