.people{
	margin:$spacing*18 0 0 0;
	&__block{
		float:left;
		@media (min-width:$tablet-tall){
			width:26.666%;
			margin:0 10% $spacing*14 0;
			&:nth-of-type(3n){
				margin:0 0 $spacing*14 0;
			}
		}
		@media (min-width:$mobile) and (max-width:$tablet-tall){
			width:45%;
			margin:0 10% $spacing*14 0;
			&:nth-of-type(2n){
				margin:0 0 $spacing*14 0;
			}
		}
		margin:0 0 $spacing*19 0;
		box-shadow: 6px 9px 24px 0 rgba($black, 0.16);
		background-color: $white;
		text-align:center;
		padding:$spacing*3;
		.block_img{
			position:relative;
			// top:-$spacing;
			.img{
			    margin: auto;
			    position: absolute;
			    top: -50px;
			    left: 0;
			    bottom: 0;
			    right: 0;
				width:116px;
				height:116px;
				border:10px solid $blue_light;
				@include border-radius(50%);

			}
		}
		.block_txt{
			margin:$spacing*5 0 0 0;
			p{
				color:$grey;
				font-size: 18px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.6;
				letter-spacing: 0.94px;
				text-align: center;
			}
		}
	}
}