.person_slider{
	text-align: center;
	margin:0 auto $spacing*13 auto;
	.slide{
		position: relative;
	    transform: scale(0.7);
	    transition: all .2s ease-in-out;
	    outline:none;
	    &.slick-current{
    	    transform: scale(1.1);
	    }

		display: inline-block;
		max-width:800px;
		@media (min-width:$mobile){
			padding:$spacing*6;
			margin:0 $spacing*2.5;
		}
		padding:$spacing*6 $spacing*2;
		@include background(cover, center, no-repeat);
		&__img{
			margin:0 0 $spacing*2 0;
			position:relative;
			z-index: 2;
			img{
				border:10px solid $white;
				display: inline-block;
				@include border-radius(50%);
			}
		}
		&__text{
			margin:0 0 $spacing*2 0;
			position:relative;
			z-index: 2;
			p{
				color:$white;
				@include fluid-font(17px, 20px);
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.7;
				letter-spacing: 1.05px;
				text-align: center;
			}
		}
		&__name{
			position:relative;
			z-index: 2;
			p{
				color:$white;
				font-size: 15px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: 3.51px;
				text-align: center;
			}
		}
	}	
}

ul.slick-dots{
	margin:$spacing*5 0 0 0;
	li{
		display: inline-block;
		margin:0 $spacing*2.5;
		button{
			border:2.1px solid $blue_light;
			font-size:0;
			width:15px;
			height:15px;
			@include border-radius(50%);
			background-color:transparent;
		}
		&.slick-active{
			button{
				background-color:$blue_light;
			}
		}
	}
}
