.text_area{
	margin:$spacing*13 0;
	.text_wrapper{
		@media (min-width:$tablet-tall){
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
		overflow: hidden;
		.text_txt{
			margin:0 0 $spacing*2 0;
			flex:1;
			display: grid;
			place-items: center left;
			.text_inner{
				@media (min-width:$tablet-tall){
					width:85%;
				}
				@include headings{
					color:$blue_light;	
				}
				strong{
					color:$grey;
					font-size: 21px;
					font-weight: 600;
					line-height: 1.67;
					letter-spacing: 1.1px;
				}
				p{
					margin:0 0 $spacing*4 0;
					&:last-child{
						margin:0;
					}
					color:$grey_mid;
					font-size: 17px;
					font-weight: normal;
					font-stretch: normal;
					font-style: normal;
					line-height: 2;
					letter-spacing: 0.89px;
				}
			}
		}
		.text_img{
			flex:1;
			@media (max-width:$tablet-tall){
				margin:auto;
			}
		}
	}
}
