.lt-ie9, .lt-ie8, .lt-ie7 {
	.dated_browser{
		display:block;
		background:$black;
		color:$white;
		padding:$spacing/2;
		text-align:center;
		font-weight:$light;
		font-size:12px;
	}
	.flex_wrapper{
		display:table;
		.flex_shell{
			float:left;
			height:105px;
		}
	}
}
