//Alignment
.alignright{
	float:none;
	display:block;
	margin:0 0 20px 0;
	@media (min-width:45em){
		float:right;
		margin:0 0 10px 10px;
	}
}

.aligncenter{
	margin:0 auto 5px auto;
	display:block;
}

.alignleft{
	float:none;
	display:block;
	margin:0 0 20px 0;
	@media (min-width:45em){
		float:left;
		margin:0 10px 10px 0;
	}
}

//Image captions
.wp-caption{
	.wp-caption-text{
		float:none;
		text-align:center;
		font-size:11px;
		@media (min-width:45em){
			float:right;	
		}
	}
}